<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{#    <link rel="stylesheet" href="..templates/styles.css">#}
    <title>ralf lol</title>
</head>
<body bgcolor="#d1e0e0">
<style>
h1 {
  color: #000033;
  font-family: verdana;
  font-size: 200%;
  text-align: center;
}
h2 {
  color: #33001a;
  font-family: verdana;
  font-size: 150%;
  text-align: center;
}
p1 {
  color: black;
  font-family: courier;
  font-size: 120%;
  align-items: center;
  margin: 30px;
}
</style>
{#    <link rel="stylesheet" href="..templates/styles.css">#}
    {% block content %}

    {% endblock %}
</body>
</html>
