{% extends 'base.html' %}

{% block content %}


<h1>Successfully Logged In</h1>
<h2>Welcome, {{ name }}. </h2>
<p1>
<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="profname">Professor Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="profname" name="profname" placeholder="Enter name...">
    </div>
  </div>
  <div class="row">
      <div class="col-25">
          <label for="slidecontainer">Asynchronous friendliness?</label>
      </div>
  </div>
    <div class="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="asynchronous">
    </div>
  <div class="row">
    <div class="col-25">
      <label for="comments>Comments</label>
    </div>
    <div class="col-75">
      <textarea id="comments" name="comments" placeholder="Any comments?" style="height:200px"></textarea>
    </div>
  </div>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
</p1>


{% endblock %}